name: Deploy MRTrick to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload site
        uses: actions/upload-pages-artifact@v1
        with:
          path: "mrtrick"

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
